<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<name>Card list</name>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add card</h1>
	<div>
		<form th:object="${card}" th:action="@{save}" action="#" method="post">
			<label for="bname">Card name</label>
			<input type="text" id="bname" th:field="*{name}" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="bhealth">Health name</label>
			<input type="text" id="bhealth" th:field="*{health}" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="battack">Attack</label>
			<input type="number" id="attack" th:field="*{attack}" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="beffect">Effect</label>
			<input type="text" id="beffect" th:field="*{effect}" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="bcost">Card cost</label>
			<input type="text" id="bcost" th:field="*{cost}" />
			<div style="clear: both; display: block; height: 12px;"></div>
			
			<label for="catlist">Category</label>
			<select id="catlist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 12px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>